@{
    ViewBag.Title = "编辑角色";
    Layout = "~/Views/UI/dialog.mobile.cshtml";
    var data = ViewBag.data as JMP.MDL.jmp_role;
}
@JMP.TOOL.UserHelper.js("mobile/local/locals.mobile.js")
<div class="mobile-popup mobile-container">
    <div class="ui form">
        <dl>
            <dt>角色名：</dt>
            <dd>
                <div class="field">
                    <input name="inputName" type="text" id="inputName" value="@data.r_name" onblur="inputCheckRoleName()" />
                    <div class="Validform_checktip" id="checkName">* 角色名不能为空</div>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>状态：</dt>
            <dd id="radOrvActnS">
                <table>
                    <tr>
                        @Html.Raw(ViewBag.state)
                    </tr>
                </table>
            </dd>
        </dl>
        <input name="inputRid" type="hidden" id="inputRid" value="@data.r_id" />
    </div>
    <div class="page-footer">
        <input type="button" name="btnSave" value="保存" id="btnSave" class="ui button primary" onclick="updaterole()" />
        <input name="btnReturn" type="reset" onclick="btnCodesc()" value="取消" class="ui button" />
    </div>
</div>