@{
    ViewBag.Title = "接口费率";
    Layout = "~/Views/UI/dialog.cshtml";

    var model = ViewBag.model as JMP.MDL.jmp_paymode;
}
@JMP.TOOL.UserHelper.js("System/Paymode.js")
<div class="main">
    <div class="clear10"></div>
    <div class="plate-form">
        <dl>
            <dt>接口费率：</dt>
            <dd>
                <div class="single-input">
                    <input name="p_rate" type="text" id="p_rate" value="@(string.IsNullOrEmpty(model.p_rate.ToString())?"":model.p_rate.ToString())" onblur="Check_p_rate()" />
                </div>
                <div class="Validform_checktip" id="y_p_rate">*请填写接口费率！</div>
            </dd>
        </dl>
        <dl>
            <dt></dt>
            <dd>
                <input type="hidden" id="id" value="@(model.p_id == 0 ? 0 : model.p_id)" />
            </dd>
        </dl>
    </div>

</div>
<div class="page-footer" style="width: 100%;">
    <div class="btn-listbtn">

        <input type="button" name="btnSave" value="保存" id="btnPayRate" class="btn btn-primary" />

        <input name="btnReturn" type="reset" onclick="btnCodesc()" value="取消" class="btn yellow" />

    </div>
    <div class="clear"></div>
</div>
