@{
    ViewBag.Title = "添加退款";
    Layout = "~/Views/UI/dialog.cshtml";
}
@JMP.TOOL.UserHelper.js("Financial/RefundList.js")
@JMP.TOOL.UserHelper.js("my97datepicker/WdatePicker.js")
<div class="main">
    <div class="plate-form">
        <dl>
            <dt>退款人姓名：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="inputName" type="text" id="r_name" onblur="yzname()" maxlength="20" sucmsg="验证成功" nullmsg="退款人姓名不超过20" errormsg="退款人姓名长度不超过20" value="" />
                    <span class="ie7-input-bug-end"></span>
                </div>
                <div class="Validform_checktip" id="nameyy">*应用名长度不超过20</div>
            </dd>
        </dl>
        <dl>
            <dt>退款人电话：</dt>
            <dd>
                <div class="single-input normal">
                    <input name="r_tel" type="text" id="r_tel" onblur="CheckPhone()" />
                </div>
                <div class="Validform_checktip" id="u_phone_tip">*11位手机号或固定电话(号码或区号-号码)！</div>
            </dd>
        </dl>
        <dl>
            <dt>所属应用：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="r_appname" type="text" id="r_appname" readonly="readonly" onclick="shyy()" value="" /><span class="ie7-input-bug-end"></span>
                    <input type="hidden" id="r_appid" name="r_appid" />
                </div>
                <div class="Validform_checktip" id="yzkfz">* 请选择应用</div>
            </dd>
        </dl>
        <dl>
            <dt>所属商户：</dt>
            <dd>
                <div class="single-input normal">
                    <span class="ie7-input-bug-start"></span>
                    <input name="a_user_idyx" type="text" id="a_user_idyx" readonly="readonly"  value="" /><span class="ie7-input-bug-end"></span>
                    <input type="hidden" id="a_user_id" name="a_user_id" />
                </div>
                
            </dd>
        </dl>
        <dl>
            <dt>支付流水号：</dt>
            <dd>
                <div class="single-input normal">
                    <input name="r_tradeno" type="text" id="r_tradeno" onblur="CheckTradeno()" />
                </div>
                <div id="yztradeno" class="Validform_checktip">*请输入支付流水号！</div>
            </dd>
        </dl>
        <dl>
            <dt>订单编号：</dt>
            <dd>
                <div class="single-input normal">
                    <input name="r_code" type="text" id="r_code" onblur="CheckCode()" />
                </div>
                <div id="yztraCode" class="Validform_checktip">*请输入订单编号！</div>
            </dd>
        </dl>
        <dl>
            <dt>实际支付金额：</dt>
            <dd>
                <div class="single-input normal">
                    <input name="r_money" type="text" id="r_money" onblur="CheckMoney()" />
                </div>
                <div id="yztraMoney" class="Validform_checktip">*请输入实际支付金额！</div>
            </dd>
        </dl>
        <dl>
            <dt>退款金额：</dt>
            <dd>
                <div class="single-input normal">
                    <input name="r_price" type="text" id="r_price" onblur="CheckPrice()" />
                </div>
                <div id="yztrPrice" class="Validform_checktip">*请输入退款金额！</div>
            </dd>
        </dl>
        <dl>
            <dt>用户付费时间：</dt>
            <dd>
                <div class="single-input normal">
                    <input name="stime" type="text" id="r_date" value="@DateTime.Now.ToString("yyyy-MM-dd")" onFocus="WdatePicker({maxDate:'@DateTime.Now.ToString("yyyy-MM-dd")'})" readonly="readonly" />
                </div>

            </dd>
        </dl>
    </div>
</div>
<div class="page-footer">
    <div class="btn-listbtn">
        <input type="button" name="btnSave" value="保存" id="btnSaveAddRefund" class="btn btn-primary" />
        <input name="btnReturn" type="reset" onclick="btnCodesc()" value="取消" class="btn" />
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    //界面加载完成之后执行
    $(document).ready(function () {

    })
</script>
