<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <!--加入此行-->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ConnectionString" value="server=192.168.1.242;database=dx_base;uid=sa;pwd=jm@123456"/>
    <!-->图片地址-->
    <add key="imgurl" value="http://localhost:26127/"/>
    <!-->图片上传路径-->
    <add key="uploadurl" value="/upload/img/"/>
    <!--!开发者平台地址-->
    <add key ="Userurl" value="http://developer.dunxingpay.com/Home/UserLoginbygw"/>
   <!-- 注册-->
    <add key ="UserRegister" value="http://developer.dunxingpay.com/User/Register"/>
   <!-- 修改密码-->
    <add key ="Userpassword" value="http://developer.dunxingpay.com/User/changepwd"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />      
      <!--加入此行-->
    </httpModules>
    <customErrors mode="Off" defaultRedirect="/404.html">
      <error statusCode="404" redirect="/404.html" />
    </customErrors>
    <!--<customErrors mode="Off" defaultRedirect="~/404.html">
      <error statusCode="403" redirect="~/403.html" />
      <error statusCode="404" redirect="~/404.html" />
    </customErrors>-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--加入此行-->
    <!--</modules>-->
  </system.webServer>
</configuration>