<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <title>表格</title>
    <!-- plugin -->
    <link rel="stylesheet" href="asste/fa-awesome/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="asste/fa-awesome/css/font-awesome-ie7.min.css">

    <link href="css/base.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="page-tit">
       	<i class="fa fa-bars btn-nav" title="导航"></i>
        <span class="tit">表格</span>
    </header>
    <!--头部 end-->
    <section>
    	<ul class="frm-ul-tit clearfix">
            <li> <i class="fa fa-plus"></i> 添加</li>
            <li>
                <a id="btn-show-search" class="sle-btn">查询</a>
            </li>
        </ul>
        <div class="table-dcnt">
            <div class="table-container">
                <table class="table-cnt">
                    <thead>
                        <tr>
                            <th width="40">
                                <input type="checkbox">
                            </th>
                            <th>应用类型编号</th>
                            <th>排序</th>
                            <th>应用类型名称</th>
                            <th>所属应用类型</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" class="checkall">
                            </td>
                            <td>39</td>
                            <td>9</td>
                            <td>婚恋交友</td>
                            <td>应用工具</td>
                            <td>
                                <span class="green">正常</span>
                            </td>
                            <td>
                                <a href="javascript:" class="blue">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="checkall">
                            </td>
                            <td>39</td>
                            <td>9</td>
                            <td>婚恋交友</td>
                            <td>应用工具</td>
                            <td>
                                <span class="green">正常</span>
                            </td>
                            <td>
                                <a href="javascript:" class="blue">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="checkall">
                            </td>
                            <td>39</td>
                            <td>9</td>
                            <td>婚恋交友</td>
                            <td>应用工具</td>
                            <td>
                                <span class="green">正常</span>
                            </td>
                            <td>
                                <a href="javascript:" class="blue">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="checkall">
                            </td>
                            <td>39</td>
                            <td>9</td>
                            <td>婚恋交友</td>
                            <td>应用工具</td>
                            <td>
                                <span class="green">正常</span>
                            </td>
                            <td>
                                <a href="javascript:" class="blue">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="checkall">
                            </td>
                            <td>39</td>
                            <td>9</td>
                            <td>婚恋交友</td>
                            <td>应用工具</td>
                            <td>
                                <span class="green">正常</span>
                            </td>
                            <td>
                                <a href="javascript:" class="blue">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="checkall">
                            </td>
                            <td>39</td>
                            <td>9</td>
                            <td>婚恋交友</td>
                            <td>应用工具</td>
                            <td>
                                <span class="green">正常</span>
                            </td>
                            <td>
                                <a href="javascript:" class="blue">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="checkall">
                            </td>
                            <td>39</td>
                            <td>9</td>
                            <td>婚恋交友</td>
                            <td>应用工具</td>
                            <td>
                                <span class="green">正常</span>
                            </td>
                            <td>
                                <a href="javascript:" class="blue">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="checkall">
                            </td>
                            <td>39</td>
                            <td>9</td>
                            <td>婚恋交友</td>
                            <td>应用工具</td>
                            <td>
                                <span class="green">正常</span>
                            </td>
                            <td>
                                <a href="javascript:" class="blue">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="checkall">
                            </td>
                            <td>39</td>
                            <td>9</td>
                            <td>婚恋交友</td>
                            <td>应用工具</td>
                            <td>
                                <span class="green">正常</span>
                            </td>
                            <td>
                                <a href="javascript:" class="blue">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="checkall">
                            </td>
                            <td>39</td>
                            <td>9</td>
                            <td>婚恋交友</td>
                            <td>应用工具</td>
                            <td>
                                <span class="green">正常</span>
                            </td>
                            <td>
                                <a href="javascript:" class="blue">编辑</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination"> 
                <a title="上页"><i class="fa fa-chevron-left"></i></a>
                <span class="current">1</span>
                <a href="javascript:void(0);" title="第2页">2</a>
                <a href="javascript:void(0);" title="下页"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </section>
    <!--内容 end-->
	<section class="sec-nav sec-nav-active">
	    <i class="fa fa-times-circle" title="关闭"></i>
	    <section class="idx-fl">
	        <div class="navbar-collapse">
	            <dl class="idx-menu-head">
	                <dd class="sm">
	                    <span class="bsm idx-smb">立即认证</span>
	                </dd>
	                <dd>
	                    <p class="qq">5875588@qq.com</p>
	                    <i class="icon-power"></i>
	                </dd>
	            </dl>
	            <ul class="nav">
	                <li class="active">
	                    <a href="javascript:;">
	                        <i class="fa fa-home"></i>
	                        <span class="name">首页</span>
	                    </a>
	                </li>
	                <li>
	                    <a href="javascript:;">
	                        <i class="fa fa-external-link-square"></i>
	                        <span class="name">营收分析</span>
	                        <i class="fa-add"></i>
	                    </a>
	                    <ul class="submenu">
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">营收概况</span>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">营收概况</span>
	                            </a>
	                        </li>
	                    </ul>
	                </li>
	                <li>
	                    <a href="javascript:;">
	                        <i class="fa fa-rss"></i>
	                        <span class="name">流量分析</span>
	                        <i class="fa-add"></i>
	                    </a>
	                    <ul class="submenu">
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">流量趋势</span>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">流量趋势1</span>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">流量趋势2</span>
	                            </a>
	                        </li>
	                    </ul>
	                </li>
	                <li>
	                    <a href="javascript:;">
	                        <i class="fa fa-shield"></i>
	                        <span class="name">工单管理</span>
	                        <i class="fa-add"></i>
	                    </a>
	                    <ul class="submenu">
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">排班管理</span>
	                            </a>
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">排班管理1</span>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">排班管理2</span>
	                            </a>
	                        </li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
	        <div class="idx-fl-bg"></div>
	    </section>
	    <span class="exit">退出登录</span>
	    <i class="lyer-bg" title="黑色背景"></i>
	</section>
    <!--左侧 end-->
    
    <script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
</body>
</html>
