<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JMNOTICE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="flase"/>
    <add key="ConnectionString" value="server=192.168.1.242;database=dx_base;uid=sa;pwd=jm@123456"/>
  </appSettings>
  <userSettings>
    <JMNOTICE.Properties.Settings>
      <setting name="MAX_THREAD_COUNT" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="EACH_TIME_SELECT_TOP_COUNT" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LOOP_LOAD_DATA_THRESHOLD" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TASK_CRONS_CONFIG_STRING" serializeAs="String">
        <value>0.1000.0;</value>
      </setting>
      <setting name="CLEAR_LOG_THRESHOLD" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="ENCRYPT_IP_ADDRESS" serializeAs="String">
        <value />
      </setting>
      <setting name="CLIENT_ID" serializeAs="String">
        <value />
      </setting>
      <setting name="NEED_CHECK_FROM_DATABASE" serializeAs="String">
        <value>False</value>
      </setting>
    </JMNOTICE.Properties.Settings>
  </userSettings>
</configuration>