<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="On" defaultRedirect="Error.html" >
      <error statusCode="404" redirect="Error.html" />
    </customErrors>
  </system.web>
  <appSettings>
    
     <!--收银台微信appid和wap优先级-->
    <add key="SdkPriority" value="2" />
    
    <!--Memcached缓存服务器-->
    <add key="Memcached" value="112.74.201.213:11211" />
    <!--ip库文件地址-->
    <add key="ipkstr" value="D:/文档/ip资料库/17monipdb.dat" />
    <!--同步回调地址-->
    <add key="GOTOUrl" value="http://www.baidu.com" />
    <!--支付宝回调地址-->
    <add key="TokenUrl" value="http://112.74.110.254:801/zfb{0}.html" />
    <!--微信回调地址-->
    <add key="WxTokenUrl" value="http://112.74.110.254:801/GETNOTICE{0}.html" />
    <!--威富通回调地址-->
    <add key="WftTokenUrl" value="http://112.74.110.254:801/wft{0}.html" />
    <!--真趣接口地址-->
    <add key="ZqApiUrl" value="http://114.55.249.11:8700/spApi/wechatWebApiReq.do" />
    <!--明鹏接口地址-->
    <add key="MpApiUrl" value="http://ltongzy.com:8080/apiTvShow/cpay/alipay" />
    <!--明鹏查询地址-->
    <add key="MpSelect" value="http://ltongzy.com:8080/apiTvShow/content/commquery" />
    <!--北京星合接口地址-->
    <add key="BJXHUrl" value="http://xlsdk.sdk.netcosmos.com/sdkServer/thirdpays/tweixin/wappay" />
    <!--北京星合同步跳转地址-->
    <add key="BJXHShouwUrl" value="http://www.baidu.com" />
    <!--智付回调地址-->
    <add key="ZFTokenUrl" value="http://112.74.110.254:801/ylzf{0}.html" />
    <!--贝贝支付宝请求地址-->
    <add key="BBZFBGETUrl" value="http://www.paypayfu.com/i/utf8/zfbwap" />
    <!--贝贝支付宝回调地址-->
    <add key="BBZFBTokenUrl" value="http://112.74.110.254:801/ylzf{0}.html" />
    <!--畅付接口地址-->
    <add key="CFUrl" value="http://yy.yzch.net/pay.aspx" />
    <!--畅付同步跳转地址-->
    <add key="CFTBUrl" value="http://www.baidu.com" />
    <!--畅付异步通知地址-->
    <add key="CFYBUrl" value="http://www.baidu.com" />
    <!--畅付查询支付结果地址-->
    <add key="CFselectUrl" value="http://yy.yzch.net/payquery.aspx" />
    <!--聚合富支付请求地址-->
    <add key="JHFPOSTUrl" value="http://www.jhpay.com/wechat/wechatpay.jsp" />
    <!--南粤支付请求地址-->
    <add key="NYPOSTUrl" value="https://gdnybank.chejingji.com/aps/cloudplatform/api/trade.html" />
    <!--南粤异步通知地址-->
    <add key="NyNotifyUrl" value="http://www.baidu.com" />
    <!--首游异步通知地址-->
    <add key="SYNotifyUrl" value="http://www.baidu.com" />
    <!--首游支付请求地址-->
    
    <add key="SYPOSTUrl" value="http://218.245.3.73:9800/wap/gateway" />
    <!--汇宝通支付请求地址-->
    <add key="HBTPOSTUrl" value="http://fpay.yeeyk.com/fourth-app/prof/acquiring" />
    <!--汇宝通异步通知地址-->
    <add key="HBTNotifyUrl" value="http://112.74.110.254:801/HBT{0}.html" />
    <!--二维码展示地址-->
    <add key="QRcodeUrl" value="http://192.168.1.55:14942/QRcode.aspx" />
    <!--威富通微信公众号请求地址-->
    <add key="wftwxgzhget" value="http://192.168.1.55:14942" />

    <!--众易鑫支付请求地址-->
    <add key="zyxPOSTUrl" value="http://app.zyxin.cn/proOneMobile/zyxPay.action" />
    <!--众易鑫异步通知地址-->
    <add key="zyxNotifyUrl" value="http://www.baidu.com" />

    <!--鹏缘支付请求地址-->
    <add key="pyzfbPOSTUrl" value="http://api.51firepay.com:20004/pay.ashx" />
    <!--鹏缘异步通知地址-->
    <add key="pyzfbNotifyUrl" value="http://api.dunxingpay.com/pyzfb{0}.html" />

    <!--山东微保支付请求地址-->
    <add key="SDWBZFBPOSTUrl" value="http://apppay.vitongpay.com/apppay/order" />
    <!--山东微保异步通知地址-->
    <add key="SDWBZFBNotifyUrl" value="http://www.baidu.com" />

    <!--汇元支付请求地址-->
    <add key="HyPOSTUrl" value="https://pay.heepay.com/Payment/Index.aspx" />
    <!--汇元微信wapsdk支付请求地址-->
    <add key="HywxsdkPOSTUrl" value="https://pay.heepay.com/Phone/SDK/PayInit.aspx" />
    <!--汇元异步通知地址-->
    <add key="HyNotifyUrl" value="http://www.baidu.com" />

    <!--发发啦异步通知地址-->
    <add key="fflNotifyUrl" value="http://www.baidu.com" />


    <!--微互动公众号支付请求地址-->
    <add key="whdgzhPOSTUrl" value="http://api.gongdapeng.cn/ly_pay/js.php" />
    <!--微互动公众号异步通知地址-->
    <add key="whdgzhNotifyUrl" value="http://www.baidu.com" />

    <!--微互动支付宝支付请求地址-->
    <add key="whdzfbPOSTUrl" value="http://api.gongdapeng.cn/another_pay/alipay.php" />
    <!--微互动支付宝异步通知地址-->
    <add key="whdzfbNotifyUrl" value="http://www.baidu.com" />

    <!--微互动appid请求地址-->
    <add key="whdappidPOSTUrl" value="http://api.gongdapeng.cn/wft_app_another/index.php" />

    <!--微互动支付宝支付请求地址-->
    <add key="whdzfbPOSTUrl" value="http://api.gongdapeng.cn/hj_pay/alipay.php" />
    <!--微互动支付宝异步通知地址-->
    <add key="whdzfbNotifyUrl" value="http://www.baidu.com" />

    <!--微互动微信扫码请求地址-->
    <add key="wyhdwxsmPOSTUrl" value="http://api.gongdapeng.cn/wft_pc_another/index.php" />
    <!---微互动微信扫码异步通知地址-->
    <add key="wyhdwxsmNotifyUrl" value="http://www.baidu.com" />

    <!--思科无限支付宝支付请求地址-->
    <add key="skwxzfbPOSTUrl" value="http://www.huayuinfinite.com/pay/bc_alipay/index.php" />
    <!--思科无限支付宝异步通知地址-->
    <add key="skwxzfbNotifyUrl" value="http://www.baidu.com" />
    <!--思科无限appid支付请求地址-->
    <add key="skwxappidPOSTUrl" value="http://www.huayuinfinite.com/pay/wft_app/index.php" />

    <!--兴业银行微信appid异步通知地址-->
    <add key="xyyhappidNotifyUrl" value="http://www.baidu.com" />
    <!--兴业银行微信appid支付请求地址-->
    <add key="xyyhappidPOSTUrl" value="https://api.cib.dcorepay.com/pay/unifiedorder" />

    <!--舒付微信扫码异步通知地址-->
    <add key="sfwxsmNotifyUrl" value="http://www.baidu.com" />
    <!--舒付微信扫码支付请求地址-->
    <add key="sfwxsmPOSTUrl" value="http://pay.qianhaisufu.com:3280/initOrder" />

    <!--首游公众号异步通知地址-->
    <add key="SygzhNotifyUrl" value="http://www.baidu.com" />
    <!--首游公众号支付请求地址-->
    <add key="SygzhPOSTUrl" value="http://api.viapay.cn/waporder/order_add" />

    <!--查询接口地址-->
    <add key="SelectQuery" value="http://192.168.1.55:12815/query.ashx" />

    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="flase"/>
    <add key="ConnectionString" value="server=192.168.1.242;database=dx_base;uid=sa;pwd=jm@123456"/>
    <add key="ConnectionStringDEVICE" value="server=192.168.1.242;database=dx_device;uid=sa;pwd=jm@123456"/>

    <add key="dbbase" value="dx_base" />
    <add key="dbtotal" value="dx_total" />
    <add key="dbdevice" value="dx_device" />

    <add key="PAY_API_BASE_URL" value="http://192.168.1.55:12815/PayBank.ashx"/>
  </appSettings>
</configuration>
