@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/UI/master.mobile.cshtml";
    JMP.MDL.CoAgent UModel = (JMP.MDL.CoAgent)ViewBag.jmpUser;
}
@JMP.TOOL.UserHelper.js("plugin/JValidator.js")
<script src="~/mobile/js/user/ModifyInfo.js"></script>
<header class="page-tit">
    <i class="fa fa-bars btn-nav" title="导航"></i>
    <span class="tit">修改密码</span>
</header>
<section class="real">
    <input type="hidden" id="u_id" value="@UModel.Id" />
    <ul class="frm-ul">
        

        <li>
            <div class="dbor">
                <p class="ptit">用户账号</p>
                @(UModel != null ? !string.IsNullOrEmpty(UModel.LoginName) ? UModel.LoginName : "" : "")

            </div>
        </li>
        <li>
            <div class="dbor">

                <p class="ptit">原密码</p>
                <input type="password" name="old_pwd" id="old_pwd" class="txtipt"  placeholder="请输入原密码" />
            </div>
        </li>
        <li>
            <div class="dbor">
                <p class="ptit">新密码</p>
                <input type="password" name="new_pwd" id="new_pwd" class="txtipt" placeholder="请输入新密码" />
            </div>
        </li>
        <li>
            <div class="dbor">
                <p class="ptit">确认密码</p>
                <input type="password" name="qr_pwd" id="qr_pwd" class="txtipt" placeholder="请再次输入新密码" />
            </div>
        </li>
        
    </ul>
    <div class="frm-btn">
        <a class="btn"  id="btn_save" >确认提交</a>
    </div>
</section>

