<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="flase"/>
    <add key="ConnectionString" value="server=192.168.1.242;database=dx_base;uid=sa;pwd=jm@123456"/>
    <add key="ConnectionStringTotal" value="server=192.168.1.242;database=dx_total;uid=sa;pwd=jm@123456"/>
    <add key="ConnectionStringDEVICE" value="server=192.168.1.242;database=dx_device;uid=sa;pwd=jm@123456"/>
    <add key="app_sign" value="8EB5E3A563E6CEFF44F61A5F6BC18491F9A63853ECC207C235A15B235F2B0EC93B8F995E1815445480C5D22570EB8480A4ED1D021B56FE77FAC8870BA3D58CCE292524F2CC6512D7"/>

    <add key="dbbase" value="dx_base" />
    <add key="dbtotal" value="dx_total" />
    <add key="dbdevice" value="dx_device" />

    <!--设置订单支付超时时间（单位：秒）-->
    <add key="overtime" value="1800"/>
    
    <!--安卓微信公众号同步回调地址-->
    <add key="succeed" value="http://api.dunxingpay.net/succeed.html"/>
    
    <!--CS测试支付请求地址-->
    <add key="RequestAddress" value="http://192.168.1.54:52682/api/pay/JmPay"/>
    <!--<add key="RequestAddress" value="http://192.168.1.56:52682/api/pay/JmPay"/>-->
    <!--商务直客模式应用key-->
    <add key="appkey" value="E0BFDEEBE6AD14A6D4A8ECB00AFC93AD12B74FD0E49E3D5C"/>
    <!--商务直客模式应用id-->
    <add key="appid" value="3"/>
    <!--代理商模式应用key-->
    <add key="agentappkey" value="85C11747C2BFA62A002A3F361370C9245422BFDC7B68A9DF"/>
    <!--代理商模式应用id-->
    <add key="agentappid" value="6"/>
    <!--安卓应用key-->
    <add key="azappkey" value="05404DCBA481EF73DA3A210464995413AEC28E07416D3DDB"/>
    <!--安卓应用id-->
    <add key="azappid" value="1"/>
    <!--威富通公众号验证地址-->
    <add key="redirecturi" value="http://api.dunxingpay.net/wxggh" />
    <!--威富通公众号异步通知地址-->
    <add key="notifyurl" value="http://api.dunxingpay.com/wft{0}.html" />
    <!--威富通公众号同步通知地址-->
    <add key="callbackurl" value="https://ak.q0.cc/goto{0}.htmlh" />
    <!--浦发银行微信公众号支付请求地址-->
    <add key="pfalpayPostUrl" value="http://www.sssyin.cn/openGateway/openService/order"/>
    <!--浦发银行微信公众号异步通知地址-->
    <add key="pfalpayNotifyUrl" value="https://www.baidu.com"/>
    <!--浦发银行公众号验证地址-->
    <add key="redirecturipf" value="http://api.dunxingpay.com/wxggh" />
    <!--设置缓存时间-->
    <add key="CacheTime" value="1"/>

    <!--微拍支付宝wap接口编号-->
    <add key="alpayid" value="99"/>


    <!--微信回调地址-->
    <add key="WxTokenUrl" value="http://112.74.110.254:801/GETNOTICE{0}.html"/>
    <!--微信请求地址-->
    <add key="WxPayUrl" value="https://api.mch.weixin.qq.com/pay/unifiedorder"/>
    <!--微信请求地址-->
    <add key="WxGzhRturnUrl" value="http://api.dunxingpay.net/WeChatNumber"/>
    
    
    
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="indexwft_page">
          <match url="^wft([0-9]+).html$" />
          <action type="Rewrite" url="WFTNOTICE.aspx?pid={R:1}" />
        </rule>

        <rule name="indexzfb_page">
          <match url="^zfb([0-9]+).html$" />
          <action type="Rewrite" url="GETNOTICE.aspx?pid={R:1}" />
        </rule>

        <rule name="indexylzf_page">
          <match url="^ylzf([0-9]+).html$" />
          <action type="Rewrite" url="ZFNOTICE.aspx?pid={R:1}" />
        </rule>

        <rule name="indexgzhyz_page">
          <match url="^wxggh([0-9]+).html$" />
          <action type="Rewrite" url="wxgzh.aspx?pid={R:1}" />
        </rule>
        <rule name="indexHBT_page">
          <match url="^HBT([0-9]+).html$" />
          <action type="Rewrite" url="HBT.aspx?pid={R:1}" />
        </rule>
        <rule name="goto_page">
          <match url="^goto([0-9]+).html$" />
          <action type="Rewrite" url="goto.aspx?oid={R:1}" />
        </rule>
        <rule name="wxappidpay_page">
          <match url="^PAYNOTICE([0-9]+).html$" />
          <action type="Rewrite" url="PAYNOTICE.aspx?pid={R:1}" />
        </rule>
        <rule name="pyzfbpay_page">
          <match url="^PyZfb.aspx([0-9]+).html$" />
          <action type="Rewrite" url="PyZfb.aspx?pid={R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>