<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JmPay.PayChannelMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!-- 连接字符串是否加密 -->
        <add key="ConStringEncrypt" value="flase" />
        <add key="ConnectionString" value="server=192.168.1.242;database=dx_base;uid=sa;pwd=jm@123456" />
        <add key="ConnectionStringTotal" value="server=192.168.1.242;database=dx_total;uid=sa;pwd=jm@123456" />
        <add key="ConnectionStringDEVICE" value="server=192.168.1.242;database=dx_device;uid=sa;pwd=jm@123456" />
        <add key="SWITCH_SCHE_APP_PAY_SUCCESS_ABNORMAL_MONITOR" value="false"/>
        <add key="SWITCH_SCHE_AUDITOR_MESSAGE_SCHEDULER_MONITOR" value="true"/>
        <add key="SWITCH_SCHE_NO_ORDER_APP_SCHEDULER_MONITOR" value="true"/>
        <add key="INTERVAL_DEFAULT_VALUE" value="10"/>
        
        <add key="MONITOR.API" value="http://localhost:26127/paymentmonitor/monitor1"/>

        <add key="CHUANGLAN.ACCOUNT" value="dunxing01"/>
        <add key="CHUANGLAN.PASSWORD" value="Dunxing002"/>
        <add key="CHUANGLAN.SEND" value="http://sapi.253.com/msg/HttpBatchSendSM"/>
        <add key="CHUANGLAN.QUERY" value="http://sapi.253.com/msg/QueryBalance"/>
        <!--需要短信通知的手机号,多个以逗号分隔-->
        <add key="CHUANGLAN.MOBILE.MONITOR" value="18140211129"/>
        <!--通道状态监控短信模板-->
        <add key="CHUANGLAN.CONTENT.MONITOR" value="紧急：服务器访问出现异常,请尽快登录后台核实系统是否正常！"/>

        <!--需要短信通知的手机号,多个以逗号分隔-->
        <add key="CHUANGLAN.MOBILE.MONITOR" value="18140211129"/>
        <!--通道状态监控短信模板-->
        <add key="CHUANGLAN.CONTENT.MONITOR" value="紧急：服务器访问出现异常,请尽快登录后台核实系统是否正常！"/>

        <!--应用请求异常 BEGIN-->
        <add key="CHUANGLAN.ALLOW" value="true"/>
        <!--需要短信通知的手机号,多个以逗号分隔-->
        <add key="CHUANGLAN.AUDITOR.APPREQUEST.MOBILE" value="13102318752,17783825538"/>
        <!--通道状态监控短信模板-->
        <add key="CHUANGLAN.AUDITOR.APPREQUEST.CONTENT" value="紧急：支付平台部分应用支付成功率异常,请尽快登录后台核实！"/>
        <!--应用请求异常 END-->

        <!--订单请求异常拦截 BEGIN-->
        <!--需要短信通知的手机号,多个以逗号分隔-->
        <add key="CHUANGLAN.ORDER.ABNORMAL.MOBILE" value="13102318752,17783825538"/>
        <!--通道状态监控短信模板-->
        <add key="CHUANGLAN.ORDER.ABNORMAL.CONTENT" value="紧急：支付平台部分订单请求异常,请尽快登录后台核实！"/>
        <!--订单请求异常拦截 END-->

        <!--应用无订单短信通知 BEGIN-->
        <!--需要短信通知的手机号,多个以逗号分隔-->
        <add key="CHUANGLAN.APP.NOORDER.MOBILE" value="13102318752,17783825538"/>
        <!--短信模板-->
        <add key="CHUANGLAN.APP.NOORDER.CONTENT" value="紧急：支付平台部分应用无订单监控报警,请尽快登录后台核实！"/>
        <!--应用无订单短信通知 END-->

        <!--创蓝语音API基地址-->
        <add key="CHUANGLAN.AUDIO.BASE.URL" value="http://audio.253.com"/>
        <!--创蓝语音API资源地址-->
        <add key="CHUANGLAN.AUDIO.RESOURCE.URL" value="noticeapi/noticeapi_api"/>
        <!--创蓝语音 帐号名-->
        <add key="CHUANGLAN.AUDIO.RESOURCE.company" value="YM3150200"/>
        <!--创蓝语音 密钥Key-->
        <add key="CHUANGLAN.AUDIO.RESOURCE.key" value="a96de8f4de07e683493576687643dd86"/>
        <!--创蓝语音 密码-->
        <add key="CHUANGLAN.AUDIO.RESOURCE.secret" value="b0NeuxPn3G695d"/>
        
        <!--创蓝语音 语音模版ID-->
        <add key="CHUANGLAN.AUDIO.RESOURCE.teltemp" value="105085"/>
        <!--创蓝语音 去电显示号码-->
        <add key="CHUANGLAN.AUDIO.RESOURCE.telno" value="95213176"/>

        <!--创蓝短信配置 结束-->

        <add key="FrmTitle" value="TX平台监控系统"/>
    </appSettings>
    <userSettings>
        <JmPay.PayChannelMonitor.Properties.Settings>
            <setting name="INTERVAL_NO_ORDER_APP" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="INTERVAL_APP_PAY_SUCCESS_ABNORMAL" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="INTERVAL_ORDER_PAY_ABNORMAL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TIMESPAN_NO_ORDER_APP_SEND_MESSAGE" serializeAs="String">
                <value>5</value>
            </setting>
        </JmPay.PayChannelMonitor.Properties.Settings>
    </userSettings>
</configuration>