@using WEBGW.Models;
@{
    ViewBag.Title = "About";
    Layout = "~/Views/UI/master.mobile.cshtml";
}
<header>
    <section class="banner">
        <img src="~/mobile/upload/2017/05/21/n_banner_1.png" width="100%" alt="移动支付领域" title="移动支付领域" />
    </section>
</header>
<section class="center-box abt-box">
    <ul class="abt-line">
        <li class="line-one">
            <figure>
                国内移动支付领域的软件技术服务商
                <figcaption>
                    重点为互联网金融行业参与方、互联网数字文化娱乐行业参与方、电商平台以及其他新兴行业商户提供定制化、全方位、高效的支付解决方案。
                </figcaption>
            </figure>
        </li>
        <li><img src="~/mobile/images/abt-back.png" alt="国内移动支付领域的软件技术服务商" title="国内移动支付领域的软件技术服务商" /></li>
    </ul>
    <p>深圳市盾行天下网络科技有限公司，位于深圳南山区高新企业孵化园区，作为国内移动支付领域的软件技术服务商，主要服务于第三方支付机构和大、中型的企业客户。业务范围涵盖移动支付接入服务以及各种行业的移动应用解决方案。公司秉承“先见者明，先行者利”的战略宗旨，在移动支付发展方向上进行了战略规划、业务布局、资源整合以及人才储备等，公司具有运营经验丰富，技术力量雄厚，策划能力出众的精英团队，重点为互联网金融行业参与方、互联网数字文化娱乐行业参与方、电商平台以及其他新兴行业商户提供定制化、全方位、高效的支付解决方案。致力成为全球领先的一站式移动支付服务商。</p>
    <ul class="abt-line-2">
        <li>
            <span>
                我们的使命
                <span>Our Misson</span>
            </span>
        </li>
    </ul>
    <p>公司致力于支付创新，聚焦为第三方支付机构和大、中型的企业客户，为其提供“安全、快捷、方便”的移动支付接入服务以及各种行业的移动应用解决方案。公司致力于支付创新，聚焦为第三方支付机构和大、中型的企业客户，为其提供“安全、快捷、方便”的移动支付接入服务以及各种行业的移动应用解决方案。</p>
    <ul class="abt-line-2">
        <li>
            <span>
                我们的愿景
                <span>Our Vision</span>
            </span>
        </li>
    </ul>
    <p>让移动支付更便捷，轻松畅游云世界。致力成为全球领先的一站式移动支付服务商。</p>
</section>