@using WEBGW.Models;
@{
    ViewBag.Title = "About";
    Layout = "~/Views/UI/master.cshtml";
}
<section class="about">
    <div class="about-bg">
        <h1 class="tit">convenient</h1>
        <h1 style="display:none;">聚合支付,聚合支付平台,支付接口,支付API,支付宝接口,微信支付接口,银联支付接口,支付接入,app支付,游戏支付,扫码支付</h1>
        <p class="subt">致力于成为定制化支付方案服务方</p>
        <p class="ifo">主要服务于第三方支付机构和大、中型的企业客户</p>
        <p class="ifo">业务范围涵盖移动支付接入服务以及各种行业的移动应用解决方案</p>
    </div>
    <div class="about-tit">
        <ul class="about-ul clearfix">
            <li class="on">
                <span class="txt">
                    盾行简介
                    <i class="icon-sj"></i>
                </span>
            </li>
           
            <li>
                <span class="txt">
                    联系我们
                    <i class="icon-sj"></i>
                </span>
            </li>
        </ul>
    </div>
    <div class="about-tab">
        <section class="about-idctn about-tab0 clearfix" style="display: block;">
            <div class="ifl fl">
                <p class="ifl-tit">国内移动支付领域的软件技术服务商</p>
                <p class="ifl-ifo">重点为互联网金融行业参与方、互联网数字文化娱乐行业参与方、电商平台以及其他新兴行业商户提供定制化、全方位、高效的支付解决方案。</p>
            </div>
            <div class="ifr fr">
                <p class="ifr-ifo">深圳市盾行天下网络科技有限公司，位于深圳南山区高新企业孵化园区，作为国内移动支付领域的软件技术服务商，主要服务于第三方支付机构和大、中型的企业客户。业务范围涵盖移动支付接入服务以及各种行业的移动应用解决方案。公司秉承“先见者明，先行者利”的战略宗旨，在移动支付发展方向上进行了战略规划、业务布局、资源整合以及人才储备等，公司具有运营经验丰富，技术力量雄厚，策划能力出众的精英团队，重点为互联网金融行业参与方、互联网数字文化娱乐行业参与方、电商平台以及其他新兴行业商户提供定制化、全方位、高效的支付解决方案。致力成为全球领先的一站式移动支付服务商。</p>
                <dl class="about-dl">
                    <dd class="dtit">
                        <h2 class="tit">我们的使命</h2>
                        <p class="subt">Our mission</p>
                    </dd>
                    <dd class="dcnt">
                        公司致力于支付创新，聚焦为第三方支付机构和大、中型的企业客户，为其提供“安全、快捷、方便”的移动支付接入服务以及各种行业的移动应用解决方案。
                    </dd>
                </dl>
                <dl class="about-dl">
                    <dd class="dtit">
                        <h2 class="tit">我们的愿景</h2>
                        <p class="subt">Our Vision</p>
                    </dd>
                    <dd class="dcnt">
                        让移动支付更便捷，轻松畅游云世界。致力成为全球领先的一站式移动支付服务商。
                    </dd>
                </dl>
            </div>
        </section>
     
        <section class="about-us about-tab1">
            <ul class="about-lst clearfix">
                <li>
                    <div class="cont">
                        <i class="icon icon-1"></i>
                        <p class="tit">在线客服</p>
                        <div class="inf">
                            <p>7x24小时在线服务，</p>
                            <p>无需安装，直接交谈，</p>
                            <p>实时为您解决问题。</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cont">
                        <i class="icon icon-2"></i>
                        <p class="tit">电话在线</p>
                        <div class="inf">
                            <p>7x24小时在线服务，</p>
                            <p><i class="blue">+86-0755-26910992</i>如遇坐席忙 </p>
                            <p>建议稍后再拨。</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cont">
                        <i class="icon icon-3"></i>
                        <p class="tit">微信在线</p>
                        <div class="inf">
                            <p><i class="blue">dunxing001</i>，</p>
                            <p>移动终端自动查询功能，</p>
                            <p>迅速查单</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cont">
                        <i class="icon icon-4"></i>
                        <p class="tit">客户投诉</p>
                        <div class="inf">
                            <p>电话或者微信,说出你的困惑!</p>
                            <p>我们第一时间帮你解决！</p>
                        </div>
                    </div>
                </li>
            </ul>
            <p class="pimg"><img src="../images/img4.jpg" alt="地图" title="地图" /></p>
        </section>
    </div>
</section>
<!--内容 end-->
<footer class="idx-five-pst idx-ftr-pst">
    <div class="idx-five-top clearfix">
        <div class="dfl fl">
            <span class="icon icon1">电话：+86-0755-26910992</span>
            <span class="icon icon3">地址：深圳市南山区沙河西路3151号健兴科技大厦C座602</span>
            <span class="icon icon2">
                COPYRIGHT 2016-2018 DUNXING TIANXIA .ALL RIGHTS RESERVED.盾行天下版权所有
                <script src="https://s4.cnzz.com/z_stat.php?id=1261185001&web_id=1261185001" language="JavaScript"></script>
            </span>
        </div>
        <div class="dfr fr">
            <p class="perwe clearfix">
                <span class="fl erweima">
                    <img src="../images/erweima.png" alt="关注微信公众号" title="关注微信公众号" />
                    <i>关注微信公众号</i>
                </span>
                <span class="fr erweima">
                    <img src="../images/erweima1.png" alt="关注盾行云计费" title="关注盾行云计费" />
                    <i>关注盾行云计费</i>
                </span>

            </p>

            <p class="pbto">致力成为全球领先的一站式移动支付服务商 </p>

        </div>
    </div>

</footer>
<!--底部 end-->
<script type="text/javascript">
    function ArticleManage(pageIndex, pageSize) {
        var count=1
        var url = "/Index/About?pageIndexs=" + pageIndex + "&PageSize=" + pageSize + "&count=" + count;
        location.href = encodeURI(url);
    }
    $(function () {
        @*var count=@ViewBag.count;
        if(count>=1)
        {
            $(".about-ul li").removeClass("on");
            $("#new").attr("class","on")
            $(".about-tab section").hide();
            $(".about-tab" + $('#new').index()).show();
        }*@

        $(".about-ul li").click(function () {
            $(".about-ul li").removeClass("on");
            $(this).addClass("on");
            $(".about-tab section").hide();
            $(".about-tab" + $(this).index()).show();
        });

        @*$(".btn-bor").click(function () {
            $(".news-ifo").hide(0);
            $(".news-cnt").show(200);
        });
        $(".news-lst a").click(function () {
            @{

            }
            $(".news-ifo").show(200);
            $(".news-cnt").hide(0);
        })*@

    })
</script>