<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="description" content="" />
        <meta name="Keywords" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="renderer" content="webkit" />
        <title>index</title>

		<link href="css/base.css" rel="stylesheet" type="text/css">
		<link href="css/main.css" rel="stylesheet" type="text/css">
		
		<script src="js/jquery-3.2.1.min.js"></script>
		
	</head>

	<body>
		
		
		<div class="bodys"></div>
		<div id="nav">
			<div class="top">
				<div class="logo"><img src="img/nav_03.png" alt="logo" title="logo" /></div>
				<div class="menu"><img src="img/nav_05.png" alt="菜单" title="菜单" /></div>
			</div>
			<div class="submenu">
				<div class="payment">
					<a href="javascript:void(0);" title="产品支付"><i><img src="img/nav_10.png" alt="产品支付" title="产品支付" /></i><span>产品支付</span></a>
					<ul>
						<li><a href="javascript:void(0);" onclick="javascript:moveDiv(1);" title="微信支付">微信支付</a></li>
						<li><a href="javascript:void(0);" onclick="javascript:moveDiv(2);" title="支付宝支付">支付宝支付</a></li>
						<li><a href="javascript:void(0);" onclick="javascript:moveDiv(3);" title="银联支付">银联支付</a></li>
						<li><a href="javascript:void(0);" onclick="javascript:moveDiv(4);" title="其它支付">其它支付</a></li>
					</ul>
				</div>
				<div class="payment about">
					<a href="javascript:void(0);" title="关于我们"><i><img src="img/nav_13.png" alt="关于我们" title="关于我们" /></i><span>关于我们</span></a>
					<ul>
						<li><a href="javascript:void(0);" title="盾行简介">盾行简介</a></li>
						<li><a href="javascript:void(0);" title="公司咨询">公司咨询</a></li>
						<li><a href="javascript:void(0);" title="联系我们">联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>	
		<header>
			<section class="banner">
				<img src="upload/2017/05/21/n_banner_1.png" width="100%" alt="产品支付" title="产品支付" />
			</section>
		</header>
		<section class="center-box">
			<div class="single-div div-1" id="div-1">
				<figure>
					微信支付
				  	<figcaption>
				  		微信支付可以通过手机完成快速的支付流程。现阶段我们支持微信H5网页支付，微信wap支付，微信app支付，微信公众号支付，微信扫码支付。
				  	</figcaption>
				</figure>
				<ul class="ul-1">
					<li>
						<div>H5网页支付</div>
						<div>wap支付</div>
						<div>APP支付</div>
						<div>公众号支付</div>
						<div>扫码支付</div>
					</li>
					<li><img src="images/wxzf_1.png" width="100%" alt="微信支付" title="微信支付" /></li>
				</ul>
				<ul class="ul-2">
					<li>
						<figure>
							微信支付官方许可
							<figcaption>标准规范的服务，助力商户快速接入微信支付</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							高级接口全面开放
							<figcaption>交易、对账等高级接口全面开放给微信支付服务商</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							营销支持
							<figcaption>例如：星火计划、8月8日无现金日等</figcaption>
						</figure>
					</li>
				</ul>
			</div>
			
			<div class="single-div div-2" id="div-2">
				<figure>
					支付宝支付
					<figcaption>
						支付宝是国内领先的第三方支付平台，致力于提供“简单、安全、快速”的支付解决方案。支付宝从建立开始，始终以“信任”作为产品和服务的核心。自2014年开始成为当前全球最大的移动支付厂商。
					</figcaption>
				</figure>
				<ul class="ul-1">
					<li>
						<div>H5支付</div>
						<div>APP支付</div>
						<div>扫码支付</div>
					</li>
					<li><img src="images/zfb_1.png" width="100%" alt="支付宝支付" title="支付宝支付" /></li>
				</ul>
				<ul class="ul-2">
					<li>
						<figure>
							4.5亿实名用户
							<figcaption>共享有消费者能力的活跃人群</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							1000万商户资源
							<figcaption>与合作伙伴共享蚂蚁生态资源</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							10亿扶持资金
							<figcaption>官方资金投入，助力合作伙伴</figcaption>
						</figure>
					</li>
				</ul>
			</div>
			
			<div class="single-div div-3" id="div-3">
				<figure>
					银联支付
				  	<figcaption>
				  		通过与全球1000多家机构合作，目前银联卡全球受理已延伸到162个国家和地区，42个国家和地区发行了银联卡。提供优质、高效、安全的跨境支付服务，并为越来越多境外银联卡持卡人提供日益便利的本地化服务。
				  	</figcaption>
				</figure>
				<ul class="ul-1">
					<li>
						<div>微信收款</div>
						<div>网银wap</div>
						<div>B2C网银</div>
						<div>快捷支付</div>
					</li>
					<li><img src="images/ylzf_1.png" width="100%" alt="银联支付" title="银联支付" /></li>
				</ul>
				<ul class="ul-2">
					<li>
						<figure>
							24小时优质服务
							<figcaption>拨打免费热线，享受快捷、优质的24小时服务</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							消费信心指数
							<figcaption>通过分析消费交易信息，反映消费者对经济的水平</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							全球支援服务
							<figcaption>无论您身处何地，24小时全方位的专享礼遇</figcaption>
						</figure>
					</li>
				</ul>
			</div>
			
			<div class="single-div div-4" id="div-4">
				<figure>
					其它支付
				</figure>
				<ul class="ul-1">
					<li>
						其他第三方支付，以后我们将引进：QQ钱包支付，百度钱包支付，京东支付，短代支付，PAYPAL支付，APPLE pay 等支付方式。
					</li>
					<li><img src="images/qtzf_1.png" width="100%" alt="银联支付" title="银联支付" /></li>
				</ul>
				<ul class="ul-2">
					<li>
						<figure>
							<img src="images/qtzf_ico_1.png" width="70%" alt="QQ钱包" title="QQ钱包" />
							<figcaption>QQ钱包</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="images/qtzf_ico_2.png" width="70%" alt="百度钱包" title="百度钱包" />
							<figcaption>百度钱包</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="images/qtzf_ico_3.png" width="70%" alt="京东支付" title="京东支付" />
							<figcaption>京东支付</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="images/qtzf_ico_4.png" width="70%" alt="短代支付" title="短代支付" />
							<figcaption>短代支付</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="images/qtzf_ico_5.png" width="70%" alt="财付通" title="财付通" />
							<figcaption>财付通</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="images/qtzf_ico_6.png" width="70%" alt="APPLEPAY" title="APPLEPAY" />
							<figcaption>APPLEPAY</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="images/qtzf_ico_7.png" width="70%" alt="VISA" title="VISA" />
							<figcaption>VISA</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="images/qtzf_ico_8.png" width="70%" alt="MASTERCARD" title="MASTERCARD" />
							<figcaption>MASTERCARD</figcaption>
						</figure>
					</li>
				</ul>
			</div>
		</section>
		<div id="bot">
			<a href="javascript:void(0);">开发者注册</a>
			<a href="javascript:void(0);">产品咨询</a>
		</div>
		<script type="text/javascript" src="js/client_slide.js"></script>
	</body>
</html>