
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/UI/master.cshtml";
}

<script src="~/js/base.js"></script>
<section class="product">
    <div class="prod-bg" title="背景图"></div>
    <section class="prod-wx prod-0">
        <div class="wrap">
            <div class="prod-wx-top">
                <h2 class="tit">微信支付</h2>
                <p class="ifo">微信支付可以通过手机完成快速的支付流程。现阶段我们支持微信H5网页支付，微信wap支付，微信app支付，微信公众号支付，微信扫码支付。</p>
                <dl class="prod-dl clearfix">
                    <dd>
                        <i class="icon icon1"></i>
                        <span class="txt">微信H5网页支付</span>
                    </dd>
                    <dd>
                        <i class="icon icon2"></i>
                        <span class="txt">微信wap支付</span>
                    </dd>
                    <dd>
                        <i class="icon icon3"></i>
                        <span class="txt">微信APP支付</span>
                    </dd>
                    <dd>
                        <i class="icon icon4"></i>
                        <span class="txt">微信公众号支付</span>
                    </dd>
                    <dd>
                        <i class="icon icon5"></i>
                        <span class="txt">微信扫码支付</span>
                    </dd>
                </dl>
            </div>
            <ul class="prod-lst clearfix">
                <li>
                    <i class="icon icon1"></i>
                    <p class="txt">微信支付官方许可</p>
                    <p class="tx">标准规范的服务，助力商户快速接入微信支付</p>
                </li>
                <li>
                    <i class="icon icon2"></i>
                    <p class="txt">高级接口全面开放</p>
                    <p class="tx">交易、对账等高级接口全面开放给微信支付服务商</p>
                </li>
                <li>
                    <i class="icon icon3"></i>
                    <p class="txt">营销支持</p>
                    <p class="tx">例如：星火计划、8月8日无现金日等</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="prod-zfb prod-1">
        <div class="wrap">
            <div class="prod-zfb-top">
                <h2 class="tit">支付宝支付</h2>
                <p class="ifo">支付宝是国内领先的第三方支付平台，致力于提供“简单、安全、快速”的支付解决方案。支付宝从建立开始，始终以“信任”作为产品和服务的核心。自2014年开始成为当前全球最大的移动支付厂商。</p>
                <dl class="prod-dl prod-dl-zfb clearfix">
                    <dd>
                        <i class="icon icon1"></i>
                        <span class="txt">支付宝H5支付</span>
                    </dd>
                    <dd>
                        <i class="icon icon2"></i>
                        <span class="txt">支付宝APP支付</span>
                    </dd>
                    <dd>
                        <i class="icon icon3"></i>
                        <span class="txt">支付宝扫码支付</span>
                    </dd>
                </dl>
            </div>
            <ul class="prod-lst prod-lst-zfb clearfix">
                <li>
                    <i class="icon icon1"></i>
                    <p class="txt">4.5亿实名用户</p>
                    <p class="tx">共享有消费者能力的活跃人群</p>
                </li>
                <li>
                    <i class="icon icon2"></i>
                    <p class="txt">1000万商户资源</p>
                    <p class="tx">与合作伙伴共享蚂蚁生态资源</p>
                </li>
                <li>
                    <i class="icon icon3"></i>
                    <p class="txt">10亿扶持资金</p>
                    <p class="tx">官方资金投入，助力合作伙伴</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="prod-yl prod-2">
        <div class="wrap">
            <div class="prod-wx-top">
                <h2 class="tit">银联支付</h2>
                <p class="ifo">通过与全球1000多家机构合作，目前银联卡全球受理网络已延伸到162个国家和地区，42个国家和地区发行了银联卡。提供优质、高效、安全的跨境支付服务，并为越来越多境外银联卡持卡人提供日益便利的本地化服务。</p>
                <dl class="prod-dl prod-dl-yl clearfix">
                    <dd>
                        <i class="icon icon1"></i>
                        <span class="txt">微信收款</span>
                    </dd>
                    <dd>
                        <i class="icon icon2"></i>
                        <span class="txt">网银wap</span>
                    </dd>
                    <dd>
                        <i class="icon icon3"></i>
                        <span class="txt">B2C网银</span>
                    </dd>
                    <dd>
                        <i class="icon icon4"></i>
                        <span class="txt">快捷支付</span>
                    </dd>
                </dl>
            </div>
            <ul class="prod-lst prod-lst-yl clearfix">
                <li>
                    <i class="icon icon1"></i>
                    <p class="txt">24小时优质服务</p>
                    <p class="tx">拨打免费热线，享受快捷、优质的24小时服务</p>
                </li>
                <li>
                    <i class="icon icon2"></i>
                    <p class="txt">消费信心指数</p>
                    <p class="tx">通过分析消费交易信息，反映消费者对经济的水平</p>
                </li>
                <li>
                    <i class="icon icon3"></i>
                    <p class="txt">全球支援服务</p>
                    <p class="tx">无论您身处何地，24小时全方位的专享礼遇</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="prod-qt prod-3">
        <div class="wrap">
            <div class="prod-qt-top">
                <h2 class="tit">其他支付</h2>
                <p class="ifo">其他第三方支付，以后我们将引进：QQ钱包支付，百度钱包支付，京东支付，短代支付，PAYPAL支付，APPLE pay 等支付方式。</p>
                <img src="../images/img9.png" alt="其他支付" title="其他支付" class="qtimg" />
                <p class="btn-qt">敬请期待……</p>
            </div>
        </div>
    </section>
</section>
<!--内容 end-->
<footer class="idx-five-pst idx-ftr-pst">
    <div class="idx-five-top clearfix">
        <div class="dfl fl">
            <span class="icon icon1">电话：+86-0755-26910992</span>
            <span class="icon icon3">地址：深圳市南山区科技工业园大厦12层</span>
            <span class="icon icon2">COPYRIGHT 2016-2018 DUNXING TIANXIA .ALL RIGHTS RESERVED.盾行天下版权所有
                <script src="https://s4.cnzz.com/z_stat.php?id=1261185001&web_id=1261185001" language="JavaScript"></script>
            </span>
        </div>
        <div class="dfr fr">
            <p class="perwe clearfix">
                <span class="fl erweima">
                    <img src="../images/erweima.png" alt="关注微信公众号" title="关注微信公众号" />
                    <i>关注微信公众号</i>
                </span>
                <span class="fr erweima">
                    <img src="../images/erweima1.png" alt="关注盾行云计费" title="关注盾行云计费" />
                    <i>关注盾行云计费</i>
                </span>
            
            </p>
            <p class="pbto">致力成为全球领先的一站式移动支付服务商
            
            </p>
          
        </div>
    </div>
   
</footer>
