<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="flase"/>
    <add key="ConnectionString" value="server=192.168.1.242;database=dx_base;uid=sa;pwd=jm@123456"/>
    <add key="ConnectionStringTotal" value="server=192.168.1.242;database=dx_total;uid=sa;pwd=jm@123456"/>
    <add key="ConnectionStringDEVICE" value="server=192.168.1.242;database=dx_device;uid=sa;pwd=jm@123456"/>
    <!--同步跳转域名-->
    <add key="GotoUrlName" value="www.baidu.com"/>
    <!--异步跳转域名-->
    <add key="RetunUrl" value="www.baidu.com"/>
    <!--设置订单支付超时时间（单位：秒）-->
    <add key="overtime" value="1800"/>
    <!--设置缓存时间-->
    <add key="CacheTime" value="1"/>
    <!--有效请求时间（单位：分钟）-->
    <add key="EffectiveTime" value="5"/>
    <!--验证订单有效时间缓存-->
    <add key="bizcodeTime" value="5"/>
    <!--查询接口有次数-->
    <add key="SelectQueryNum" value="5"/>
    <!--查询接口信息缓存时间-->
    <add key="infoTime" value="1"/>
    <!--加密秘钥-->
    <add key="encryption" value="!@#$Pay%M@D%xin$"/>
    <!--ip库文件地址-->
    <add key="ipkstr" value="D:/支付项目/项目文档/17monipdb.dat"/>
    <!--收银台微信appid和wap优先级-->
    <add key="SdkPriority" value="5"/>
    <!--H5下单请求地址http://192.168.1.54:52682  -->
    <add key="H5PayUrl" value="http://192.168.1.54:52682/api/pay/PayBank"/>
    <!--<add key="H5PayUrl" value="http://192.168.1.56:52682/api/pay/PayBank"/>-->
    <!--H5收银台请求地址-->
    <add key="H5BankUrl" value="http://192.168.1.54:52682/H5/checkout"/>
    <!--<add key="H5BankUrl" value="http://192.168.1.56:52682/H5/checkout"/>-->
    <!--from表单提交地址-->
    <add key="PostUrl" value="http://192.168.1.54:52682/H5/UnionPay"/>
    <!--<add key="PostUrl" value="http://192.168.1.56:52682/H5/UnionPay"/>-->
    <!--二维码图片展示地址-->
    <add key="ImgQRcode" value="http://192.168.1.54:52682/H5/ImgQRcode"/>
    <!--<add key="ImgQRcode" value="http://192.168.1.56:52682/H5/ImgQRcode"/>-->
    <!--二维码展示地址-->
    <add key="QRcode" value="http://192.168.1.54:52682/H5/QRcode"/>
    <!--<add key="QRcode" value="http://192.168.1.56:52682/H5/QRcode"/>-->

    <!--同步回调地址-->
    <add key="GOTOUrl" value="http://www.baidu.com"/>
    <!--支付宝回调地址-->
    <add key="TokenUrl" value="http://112.74.110.254:801/zfb{0}.html"/>
    <!--支付宝扫码回调地址-->
    <add key="TokenSmUrl" value="http://112.74.110.254:801/zfb{0}.html"/>
    <!--威富通回调地址-->
    <add key="WftTokenUrl" value="http://112.74.110.254:801/wft{0}.html"/>
    <!--威富通微信公众号请求地址-->
    <add key="wftwxgzhget" value="http://192.168.1.54:14942"/>
    <!--汇元支付请求地址-->
    <add key="HyPOSTUrl" value="https://pay.heepay.com/Payment/Index.aspx"/>
    <!--汇元微信wapsdk支付请求地址-->
    <add key="HywxsdkPOSTUrl" value="https://pay.heepay.com/Phone/SDK/PayInit.aspx"/>
    <!--汇元异步通知地址-->
    <add key="HyNotifyUrl" value="http://www.baidu.com"/>
    <!--智付回调地址-->
    <add key="ZFTokenUrl" value="http://112.74.110.254:801/ylzf{0}.html"/>
    <!--南粤支付请求地址-->
    <add key="NYPOSTUrl" value="https://gdnybank.chejingji.com/aps/cloudplatform/api/trade.html"/>
    <!--南粤异步通知地址-->
    <add key="NyNotifyUrl" value="http://www.baidu.com"/>
   
    <!--兴业银行微信appid异步通知地址-->
    <add key="xyyhappidNotifyUrl" value="http://www.baidu.com"/>
    <!--兴业银行微信appid支付请求地址-->
    <add key="xyyhappidPOSTUrl" value="https://api.cib.dcorepay.com/pay/unifiedorder"/>


    <!--优乐微信wap支付请求地址-->
    <add key="YlWxWapPostUrl" value="https://api.ulopay.com/pay/unifiedorder"/>
    <!--优乐微信wap异步通知地址-->
    <add key="YlWxWapNotifyUrl" value="https://www.baidu.com"/>

    <!--融梦微信扫码支付请求地址-->
    <add key="rmWxsmPostUrl" value="http://tscand01.nocbi.com/thirdPay/pay/gateway"/>
    <!--融梦微信扫码异步通知地址-->
    <add key="rmWxsmNotifyUrl" value="https://www.baidu.com"/>

    <!--浦发银行支付宝支付请求地址-->
    <add key="pfalpayPostUrl" value="http://www.sssyin.cn/openGateway/openService/order"/>
    <!--浦发银行支付宝异步通知地址-->
    <add key="pfalpayNotifyUrl" value="https://www.baidu.com"/>



    <!--中信银行微信wap支付请求地址-->
    <add key="ZxYhPostUrl" value="https://zhongxin.junka.com/DirectPay/applypay.aspx"/>

    <!--途贝支付请求地址-->
    <add key="TbPayUrl" value="https://api.tubeipay.cn/v1/pay/unifiedorder"/>
    <!--途贝异步通知地址-->
    <add key="TbpayNotifyUrl" value="http://www.baidu.com"/>
    <!--途贝公众号支付方式（trade.weixin.h5pay  , trade.weixin.jspay）-->
    <add key="TbPayType" value="trade.weixin.h5pay"/>
    <!--微唯支付请求地址-->
    <add key="WwPayUrl" value="http://api.tellni.cn/waporder/order_add"/>
    <!--微唯异步通知地址-->
    <add key="WwpayNotifyUrl" value="http://www.baidu.com"/>

    <!--公众号转wap请求地址-->
    <add key="gzhzwapUrl" value="http://wx.api-export.com/api/waptoweixin"/>

    <!--微派微信Wap支付请求地址-->
    <add key="WpWxPayUrl" value="http://jspay.wiipay.cn/1/jspay/wxh5/sign.do?para="/>
    <!--微派支付宝Wap支付请求地址-->
    <add key="WpZfbPayUrl" value="http://jspay.wiipay.cn/1/jspay/ali/sign.do?para="/>
    <!--微派异步通知地址-->
    <add key="WppayNotifyUrl" value="http://www.baidu.com"/>


    <!--现代支付请求地址-->
    <add key="XdPostUrl" value="https://pay.ipaynow.cn"/>
    <!--现代异步通知地址-->
    <add key="XdNotifyUrl" value="http://www.baidu.com"/>

    <!--小小贝支付请求地址-->
    <add key="XxbZfbPayUrl" value="http://api2.xiaoxiaopay.com:7500/order?"/>
    <!--小小贝异步通知地址-->
    <add key="XxbPayNotifyUrl" value="http://www.baidu.com"/>

    <!--掌趣微信wap支付请求地址-->
    <add key="ZqWxWapPayUrl" value="http://fpay.yeeyk.com/fourth-app/prof/acquiring?"/>
    <!--掌趣异步通知地址-->
    <add key="ZqPayNotifyUrl" value="http://www.baidu.com"/>


    <!--微信回调地址-->
    <add key="WxTokenUrl" value="http://112.74.110.254:801/GETNOTICE{0}.html"/>
    <!--微信请求地址-->
    <add key="WxPayUrl" value="https://api.mch.weixin.qq.com/pay/unifiedorder"/>
    
    <!--支付宝官方扫码请求地址-->
    <add key="AliPaySmUrl" value="https://openapi.alipay.com/gateway.do?"/>
    
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>