@{ Layout = "~/views/shared/_layout_doc_center.cshtml";}
<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="doc-idx-item">
            <a href="http://developer.dunxingpay.com/help/demo/DxPayDemo(Csharp).zip">
                <div class="icon">
                    <img src="~/images/doc/icon/aspnet.svg"/>
                </div>
                <h5>C#/.NET版本</h5>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="doc-idx-item">
            <a href="http://developer.dunxingpay.com/help/demo/dx_pay_demo_php.zip">
                <div class="icon">
                    <img src="~/images/doc/icon/php.svg" />
                </div>
                <h5>PHP版本</h5>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="doc-idx-item">
            <a href="http://api.dunxingpay.net/demo.aspx" target="_blank">
                <div class="icon">
                    <img src="~/images/doc/icon/online.svg" />
                </div>
                <h5>在线实例测试</h5>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="doc-idx-item">
            <a href="http://pan.baidu.com/s/1jHLm06q" target="_blank">
                <div class="icon">
                    <img src="~/images/doc/icon/android.svg" />
                </div>
                <h5>Android SDK</h5>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="doc-idx-item">
            <a href="http://pan.baidu.com/s/1bpatLwj" target="_blank">
                <div class="icon">
                    <img src="~/images/doc/icon/ios.svg" />
                </div>
                <h5>iOS SDK</h5>
            </a>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="help-no-answer">
            <p>返回 <a href="~/help/index">帮助中心</a> 或者 <a href="~/doc/index">开发者中心</a></p>
        </div>
    </div>
</div>