@{ Layout = "~/views/shared/_layout_doc_center.cshtml";}
<div class="row">
    <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="doc-idx-item">
            <a href="~/doc/overview/">
                <div class="icon">
                    <img src="~/images/help/code.svg"/>
                </div>
                <h5>开发指南</h5>
                <h6>客户端，服务器端等接入文档</h6>
            </a>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="doc-idx-item">
            <a href="~/doc/download/">
                <div class="icon">
                    <img src="~/images/help/download.svg" />
                </div>
                <h5>资源下载</h5>
                <h6>SDK资源，C#,PHP等版本的示例程序下载</h6>
            </a>
        </div>
    </div>
</div>