@{
    ViewBag.Title = "提交认证资料成功";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7 ]><html class="ie6 lti8"><![endif]-->
<!--[if IE 7 ]><html class="ie7 lti8"><![endif]-->
<!--[if IE 8 ]><html class="ie8 lti8"><![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>提交认证资料成功</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @JMP.TOOL.UserHelper.css("base.css")
    @JMP.TOOL.UserHelper.css("user.css")
    <style type="text/css">
        .box_center {
            margin-left: 0;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="top">
            <div class="w_1000">
                <div class="userinfo"></div>
                <div class="contactus"></div>
            </div>
        </div>
        <div class="w_1000">
            <div class="logo1"><a href="/Home/Default" title="logo"></a></div>
            <div class="nav"></div>
        </div>
    </div>
    <div class="body">
        <div class="w_1000">
            <div class="box">
                <div class="box_center">
                    <div class="box_header">
                        重置密码
                    </div>
                    <div style="padding-top: 30px; width: 100%">
                        <form class="form" id="form" method="post" action="" style="text-align: center;">
                            <div class="control-group">
                                <div style="text-align: center; margin: 60px 0 40px;">
                                    <img src="/img/success.png" width="95" height="102" />
                                </div>
                                <div style="font-size: 25px; color: #2bb800; text-align: center">提交认证资料成功！</div>
                                <div style="color: #979797; font: 20px/40px 'simsun','Arial'; text-align: center; margin-top: 65px;">
                                    请等待工作人员审核，审核通过后才能登陆系统。
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="address">
        Copyright © 2013-2020 All Rights Reserved. 版权所有 ICP备1301344
    </div>
</body>
</html>