<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <title>实名认证</title>
    <!-- plugin -->
    <link rel="stylesheet" href="asste/fa-awesome/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="asste/fa-awesome/css/font-awesome-ie7.min.css">

    <link href="css/base.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="page-tit">
       	<i class="fa fa-bars btn-nav" title="导航"></i>
        <span class="tit">实名认证</span>
    </header>
    <!--头部 end-->
    <section class="real">
    	<ul class="frm-ul">
    		<li class="tit">
    			<p class="tcnt">企业商户基本信息</p>
    		</li>
    		<li>
    			<div class="dbor">
    				<p class="ptit">工商注册名称</p>
    				<input type="text" class="txtipt" placeholder="重庆聚米网络科技有限公司" />
    			</div>
    		</li>
    		<li>
    			<div class="dbor">
    				<p class="ptit">营业执照注册号</p>
    				<input type="text" class="txtipt" placeholder="营业执照注册号" />
    			</div>
    		</li>
    		<li>
    			<div class="dbor">
    				<p class="ptit">工商注册名称</p>
    				<input type="text" class="txtipt" placeholder="工商注册名称" />
    			</div>
    		</li>
    		<li>
    			<div class="dbor">
    				<p class="ptit">负责人手机号</p>
    				<input type="text" class="txtipt" placeholder="负责人手机号" />
    			</div>
    		</li>
    		<li class="adr">
    			<div class="dbor fl">
    				<p class="ptit">省</p>
    				<input type="text" class="txtipt" placeholder="请选择省" />
    			</div>
    			<div class="dbor adr-fr fr">
    				<p class="ptit">省</p>
    				<input type="text" class="txtipt" placeholder="请选择省" />
    			</div>
    		</li>
    	</ul>
    	<ul class="frm-ul">
    		<li class="tit">
    			<p class="tcnt">负责人信息</p>
    		</li>
    		<li>
    			<div class="dbor">
    				<p class="ptit">姓名</p>
    				<input type="text" class="txtipt" placeholder="姓名" />
    			</div>
    		</li>
    		<li>
    			<div class="dbor">
    				<p class="ptit">电话</p>
    				<input type="text" class="txtipt" placeholder="电话" />
    			</div>
    		</li>
    		<li>
    			<div class="dbor">
    				<p class="ptit">手机号码</p>
    				<input type="text" class="txtipt" placeholder="手机号码" />
    			</div>
    		</li>
    	</ul>
    	<ul class="frm-ul">
    		<li class="tit">
    			<p class="tcnt">材料上传</p>
    		</li>
    		<li class="nstar">
    			<dl class="rnatn-pic clearfix">
    				<dd class="dfl fl">营业执照</dd>
    				<dd class="dfr fr">
                        <span class="sfa">
                        	<i class="fa fa-plus"></i>
                        	<i class="stxt">添加图片</i>
                        </span>
                        <img src="" id="certificate" class="simg">
                        <input name="certificatefile" type="file" class="txtfile">
    				</dd>
    			</dl>
    			<dl class="rnatn-pic clearfix">
    				<dd class="dfl fl">营业执照</dd>
    				<dd class="dfr fr">
                        <span class="sfa">
                        	<i class="fa fa-plus"></i>
                        	<i class="stxt">添加图片</i>
                        </span>
                        <img src="" id="certificate" class="simg">
                        <input name="certificatefile" type="file" class="txtfile">
    				</dd>
    			</dl>
    		</li>
    	</ul>
    	<div class="frm-btn">
    		<label class="lblchk" for="chk">
    			<input type="checkbox" id="chk" class="chks" />
    			<span class="chkt"> 同意《现在支付电子签约协议》</span>
    		</label>
    		<a href="#" class="btn">提交审核</a>
    	</div>
    </section>
    <!--内容 end-->
	<section class="sec-nav sec-nav-active">
	    <i class="fa fa-times-circle" title="关闭"></i>
	    <section class="idx-fl">
	        <div class="navbar-collapse">
	            <dl class="idx-menu-head">
	                <dd class="sm">
	                    <span class="bsm idx-smb">立即认证</span>
	                </dd>
	                <dd>
	                    <p class="qq">5875588@qq.com</p>
	                    <i class="icon-power"></i>
	                </dd>
	            </dl>
	            <ul class="nav">
	                <li class="active">
	                    <a href="javascript:;">
	                        <i class="fa fa-home"></i>
	                        <span class="name">首页</span>
	                    </a>
	                </li>
	                <li>
	                    <a href="javascript:;">
	                        <i class="fa fa-external-link-square"></i>
	                        <span class="name">营收分析</span>
	                        <i class="fa-add"></i>
	                    </a>
	                    <ul class="submenu">
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">营收概况</span>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">营收概况</span>
	                            </a>
	                        </li>
	                    </ul>
	                </li>
	                <li>
	                    <a href="javascript:;">
	                        <i class="fa fa-rss"></i>
	                        <span class="name">流量分析</span>
	                        <i class="fa-add"></i>
	                    </a>
	                    <ul class="submenu">
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">流量趋势</span>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">流量趋势1</span>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">流量趋势2</span>
	                            </a>
	                        </li>
	                    </ul>
	                </li>
	                <li>
	                    <a href="javascript:;">
	                        <i class="fa fa-shield"></i>
	                        <span class="name">工单管理</span>
	                        <i class="fa-add"></i>
	                    </a>
	                    <ul class="submenu">
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">排班管理</span>
	                            </a>
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">排班管理1</span>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="javascript:;">
	                                <span class="ne">排班管理2</span>
	                            </a>
	                        </li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
	        <div class="idx-fl-bg"></div>
	    </section>
	    <span class="exit">退出登录</span>
	    <i class="lyer-bg" title="黑色背景"></i>
	</section>
    <!--左侧 end-->
    
    <script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
</body>
</html>
