<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <title>注册</title>
    <!-- plugin -->
    <link rel="stylesheet" href="asste/fa-awesome/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="asste/fa-awesome/css/font-awesome-ie7.min.css">

    <link href="css/logrit.css" rel="stylesheet" type="text/css">
</head>

<body class="body-rig">
    
    <section class="rigt-logo">
        <i class="logo"></i>
    </section>
    <section class="log-cnt">
        <ul class="log-frm rigt-frm">
            <li>
                <i class="icon icon-usert fl"></i>
                <div class="d-cnt">
                    <input type="text" class="txtipt txtipt-user" placeholder="企业用户" />
                </div>
            </li>
            <li>
                <i class="icon icon-user fl"></i>
                <div class="d-cnt">
                    <input type="text" class="txtipt txtipt-user" placeholder="请输入用户名" />
                    <i class="fa fa-times-circle"></i>
                </div>
            </li>
            <li>
                <i class="icon icon-pwd fl"></i>
                <div class="d-cnt">
                    <input type="password" class="txtipt txtipt-pwdp" placeholder="请输入密码" />
                    <input type="text" class="txtipt txtipt-pwdt" placeholder="请输入密码" />
                    <i class="fa fa-eye-slash"></i>
                    <i class="fa fa-eye"></i>
                </div>
            </li>
            <li>
                <i class="icon icon-pwdq fl"></i>
                <div class="d-cnt">
                    <input type="text" class="txtipt" placeholder="请确认密码" />
                </div>
            </li>
            <li>
                <i class="icon icon-phone fl"></i>
                <div class="d-cnt">
                    <input type="text" class="txtipt" placeholder="请输入手机号码" />
                </div>
            </li>
            <li>
                <i class="icon icon-key fl"></i>
                <div class="d-cnt d-valt">
                    <input type="text" class="txtipt" placeholder="获取验证码" />
                    <span class="yzm">获取验证码</span>
                    <span class="yzm" style="display: none;">还剩<i>30</i>S</span>
                </div>
            </li>
            <li>
                <a href="#" class="btn">注册</a>
                <a href="#" class="btxt">您是否有账号，立即登录<i class="fa fa-question-circle"></i></a>
            </li>
        </ul>
    </section>
    
    <script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="js/logrit.js"></script>
</body>
</html>
