<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="flase" />
    <add key="ConnectionString" value="server=192.168.1.242;database=dx_base;uid=sa;pwd=jm@123456" />
    <add key="ConnectionStringTotal" value="server=192.168.1.242;database=dx_total;uid=sa;pwd=jm@123456" />
    <add key="ConnectionStringDEVICE" value="server=192.168.1.242;database=dx_device;uid=sa;pwd=jm@123456" />
    <!--<add key="imgurl" value="" />-->
    <!--设置用户可添加银行卡数据-->
    <add key="Bankcount" value="100" />
    <!--图片域名配置-->
    <add key="imgurl" value="http://192.168.1.56/" />
    <!--开发者图片路径-->
    <add key="uploadurlkfz" value="E:/Dximg/web/" />
    <!--代理商图片路径-->
    <add key="uploadurldls" value="E:/Dximg/web/" />
    
    <add key="APPuploadurl" value="/upload/AppSdk/" />
    <add key="ImgMaxWidth" value="1000" />
    <add key="ImgMaxHeight" value="800" />
    <add key="BaseDb" value="dx_base" />
    <add key="DeviceDb" value="dx_device" />
    <add key="linkqq" value="2885603377" />
    <add key="linkEmail" value="2885603377@qq.com" />
    <add key="linkphone" value="18565705201" />
    <!--帮助文档地址-->
    <add key="helpUrl" value="https://h5.q0.cc/help/index.html" />
    <!-- 开发者角色ID-->
     <add key="UserRoleId" value="3" />
    <add key="dbbase" value="dx_base" />
    <add key="dbtotal" value="dx_total" />
    <add key="dbdevice" value="dx_device" />
    <!--创蓝短信配置 开始-->
    <!--是否启用发送短信功能-->
    <add key="MESSAGE.ENABLED" value="true" />
    <!--同一号码的发送间隔,单位:秒-->
    <add key="MESSAGE.INTERVAL" value="180" />
    <!--同一号码每日的最大请求次数-->
    <add key="MESSAGE.MAXREQUEST" value="5" />

    <add key="CHUANGLAN.ACCOUNT" value="dunxing01" />
    <add key="CHUANGLAN.PASSWORD" value="Dunxing002" />
    <add key="CHUANGLAN.SEND" value="http://sapi.253.com/msg/HttpBatchSendSM" />
    <add key="CHUANGLAN.QUERY" value="http://sapi.253.com/msg/QueryBalance" />
    <!--注册短信模板-->
    <add key="CHUANGLAN.CONTENT.REGISTER" value="您的注册验证码是：{0}.请在三分钟内完成注册，如非您本人操作，请忽略本条信息！" />
    <!--找回密码短信模板-->
    <add key="CHUANGLAN.CONTENT.FORGETPASSWORD" value="您启用了密码找回功能,您的验证码是：{0},请尽快登录系统并更改密码，如非您本人操作，请忽略本条信息！" />
    <!--创蓝短信配置 结束-->
    <add key="IsDebug" value="false" />
    <!--提现银行卡限额默认值-->
    <add key="Quota" value="50000"/>
    <!--提现最小金额-->
    <add key="WithdrawalsMinimum" value="10"/>
    <!--提现手续费-->
    <add key="ServiceCharge" value="4"/>
  </appSettings>

  <system.web>

    <httpRuntime targetFramework="4.5" maxRequestLength="102400" />
    <compilation debug="true" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
