@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UI/master.mobile.cshtml";

}
<section class="idx-cnt">
    <div class="idx-price">
        <span class="tit">今日</span>
        <span class="t">交易金额:</span>
        <span class="num">123.00</span>
        <span class="t">&nbsp;&nbsp;交易金额:</span>
        <span class="num">123.00</span>
    </div>
    <div class="flow-dvt">
        <ul class="flow-con clearfix">
            <li class="fl on">
                <span class="txt">昨日收入</span>
                <span class="bor"><i class="sbor"></i></span>
                <p class="pb">
                    <span class="rpri">￥152,4561</span>
                    <span class="smd">
                        <i class="gr">流水金额:</i>
                        <i class="red">1256</i>
                    </span>
                    <span class="smd">
                        <i class="gr">交易记录:</i>
                        <i class="red">122</i>
                    </span>
                </p>
            </li>
            <li class="md">
                <span class="txt">处理中</span>
                <span class="bor"><i class="sbor"></i></span>
                <p class="pb">
                    <span class="rpri">￥152,4561</span>
                    <span class="smd">
                        <i class="gr">流水金额:</i>
                        <i class="red">1256</i>
                    </span>
                    <span class="smd">
                        <i class="gr">交易记录:</i>
                        <i class="red">122</i>
                    </span>
                </p>
            </li>
            <li class="fr">
                <span class="txt">已完成</span>
                <span class="bor"><i class="sbor"></i></span>
                <p class="pb">
                    <span class="rpri">￥152,4561</span>
                    <span class="smd">
                        <i class="gr">流水金额:</i>
                        <i class="red">1256</i>
                    </span>
                    <span class="smd">
                        <i class="gr">交易记录:</i>
                        <i class="red">122</i>
                    </span>
                </p>
            </li>
        </ul>
        <i class="bors"></i>
    </div>
</section>
