@{
    ViewBag.Title = "处理页面";
    Layout = "~/Views/UI/master.mobile.cshtml";
}
@JMP.TOOL.UserHelper.js("mobile/REPORT/Complaint.js")
@JMP.TOOL.UserHelper.js("my97datepicker/WdatePicker.js")
<div class="mobile-container mobile-popup">
    <input type="hidden" id="r_id" value="@(ViewBag.uids)" />
    <div class="plate-form  ui form ">
        <div class="field">
            <label>处理结果：</label>
            <textarea name="c_result" type="text" id="c_result"> </textarea><br />
            <div class="Validform_checktip" id="c_result_p">*请填写处理结果</div>

        </div>
        
    </div>
    <div class="page-footer" style="width: 100%;">
        <div class="btn-listbtn">
            <input type="button" class="large ui primary button" name="btnAuditorRefund" value="处理" id="btnComplaintCL" class="btn mr10" />
            <a href="~/REPORT/ComplaintList" class="large ui primary button"> 取消</a>
        </div>
        <div class="clear"></div>
    </div>

</div>
<script type="text/javascript">
    //界面加载完成之后执行
    $(document).ready(function () {

    })
</script>
